*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 1em;
  background-color: #21222a;
  color: white;
  font-size: 1rem;
}
h1,
h2 {
  color: #61dafb;
  text-align: center;
}
p {
  line-height: 1.25em;
}
a {
  text-decoration: none;
  color: white;
}
ul > li {
  padding: 0.25em;
}
ul > li::marker {
  color: #61dafb;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer--social_icons {
  padding-bottom: 0.5em;
}

.nav {
  margin-top: 2em;
  text-align: center;
}
.nav > h1 {
  padding-bottom: 0;
  margin: 0;
  text-transform: uppercase;
}
.nav--title {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 680px) {
    .nav{
        max-width: 1200px;
    }
  .nav--title {
    display: flex;
    margin: auto;
  }
  .nav--title>li:first-child::after{
      content: '  |';
     
  }
  body {
    margin: auto;
    font-size: 1.25rem;
  }
}
.main {
  padding-top: 1em;
}
